		*,span,div,i,center,strong {
			font-size: 11px;
			font-family: Arial, sans-serif;
		}
		div.track {
			background:#fff;color:#000;font-weight:100;
		}
		div.track_current {
			background:yellow;color:#f0f;font-weight:900;
		}
		input, .asi { 
			border: 1px solid #ccc;
			color: #f09;
		}
		a {
			color: #f0f;
			text-decoration: none;
		}
		a:hover {
			background: yellow;
			color: #f0f;
		}
		#content
		{
			clear:both;
		}
		.player_control
		{
			// float:left;
			margin-right:5px;
		}
		#player
		{
			height:60px;
		}
		#volume_control
		{
			width:10px;
			height:50px;
			border: 2px solid #0a0;
			display:none;
		}
		#volume_background
		{
			width:10px;
			height:50px;
			background-color:#ddd;
		}
		#volume_bar
		{
			width:10px;
			height:0px;
			background-color:#aca;
		}
		#duration,#t_duration
		{
			width:400px;
			height:36px;
		}
		#duration_background, #t_duration_background {
			width:400px;
			height:36px;
			background-color:yellow;
		}
		#duration_bar, #t_duration_bar
		{
			width:0px;
			height:36px;
			background-color:#f0f;
			background-opacity: .4;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		#duration_bar_txt span, #t_duration_bar_txt  span{
			font-size: 32px;
			font-weight: 900;
			overflow:none;
			text-shadow:
				-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
			-webkit-text-stroke: 1px black;
			color: yellow;
		}
		#duration_bar_txt, #t_duration_bar_txt {
			position:relative; top: -36px;
			width: 100%;
			overflow:none;
			text-align:center;
			vertical-align:middle;
		}

	    #main{
			opacity: 0.0;
			float:right;
			z-index: 19;
			height: 100%;
	    }
		#player {
			padding: 10px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 2px solid #f09;
			background: yellow;

			width: 406px;
			height: 120px;
			margin: 10px;
			left: 120px;
			top: 4px;
			position: fixed;
		}
		div.status {
			border: solid #f0f 1px;
		}
		div.status input {
			width: 6em;
		}

