		*,span,div,i,center,strong {
			font-size: 11px;
			font-family: Arial, sans-serif;
		}
		div#tracklist span {
			overflow:none;
		}
		span.tracknum { margin-right: 4px; width: 2em; float: left; text-align: right;}
		div#tracklist {
			padding: 0px;
			margin: 10px;
			margin-left: 20px;
			width: 100%;
			border: solid 2px #f09;
			border-opacity: .8;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: yellow;
			background-size: 100% auto;
			background-opacity: 0.0;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			overflow: none;
		}
		div.track, div.track_current {
			color:#000;
			white-space: no-break;
			background: rgba(255, 255, 0, .45);
			font-size: 14px;
			font-weight: 900;
			font-family: verdana, arial;
			overflow:none;
			padding-top: 0px;
			padding-bottom: 0px;
		}
		div.track_current {
			color:#f0f;
			font-weight:900;
		}
		div.track:hover, div.track_current:hover {
			background: yellow;
			background-opacity: .6;
			cursor: hand;
			cursor: pointer;
		}
		#charttxt {
			color: #f09;
			background-opacity: 0.1;
			opacity: .7;
			font-size: 16px;
			font-family: courier;
		}
		div#chart {
			background: yellow;
			width: 40px;
			height: 24px;
			left: -60px;
			position:relative;
			float:right;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			vertical-align: bottom;
		}
		div.chartline {
			display:inline;
			float:right;
			width: 1px;
			margin-right: 1px;
			background-color: #f09;
			bottom: 0px;
			vertical-align: bottom;
		}
		input, .asi { 
			border: 1px solid #ccc;
			color: #f09;
		}
		a {
			color: #f0f;
			text-decoration: none;
		}
		a:hover {
			background: yellow;
			color: #f0f;
		}
		#content {
			clear:both;
		}
		#duration {
			margin: 2px;
			margin-bottom: 10px;
		}
		#duration,#t_duration {
			width:90%;
			height:36px;
			margin-bottom: 6px;
		}
		#duration_background, #t_duration_background {
			width:100%;
			height:36px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}
		#duration_background:hover, #t_duration_background:hover {
			cursor:hand;
			cursor:pointer;
		}
		#duration_bar, #t_duration_bar
		{
			width:0px;
			height:36px;
			background-color:#f0f;
			background-opacity: .4;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			background-color:yellow;
			background-image: url('/git/jpe/stripe.png');
			background-opacity: .7;
			background-size: auto 100%;
			background-repeat: repeat-x repeat-y;

		}
		#duration_bar_txt span, #t_duration_bar_txt  span{
			font-size: 32px;
			font-weight: 900;
			overflow:none;
			text-shadow:
				-1px -1px 0 #f09,
				1px -1px 0 #f09,
				-1px 1px 0 #f09,
				1px 1px 0 #f09;
			-webkit-text-stroke: 1px #f09;
			color: yellow;
		}
		#duration_bar_txt, #t_duration_bar_txt {
			position:relative; top: -36px;
			width: 100%;
			overflow:none;
			text-align:center;
			vertical-align:middle;
		}

	    #main{
			opacity: 0.0;
			width: 95%;
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0%;
			z-index: 19;
			height: 100%;
	    }
		#player {
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border: 2px solid #f09;
			background: yellow;

			width: 100%;
			height: 120px;
			padding: 10px;
			margin: 10px;
			margin-bottom: 0px;
		}
		#player a {
			background: yellow;
		}
		#status input[type="text"] {
			margin: 10px;
		}
		#player input[type="button"], #player a, #player select {
			margin: 2px;
			padding: 4px;
			font-size: 14px;
			text-align:center;
			color: #f09;
			background: yellow;
			background-opacity: 0;
			border: solid 1px #f09;
			border-opacity: .8;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			width: 32px;
		}
		#player select {
			width: 96px;
			text-align:left;
			background-opacity: .4;
			opacity: .8;
		}
		#player option {
			font-size: 14px;
			opacity: .8;
			text-align:left;
			background-opacity: .4;
		}
		input#playButton { width: 48px; }
		#buttons {
			left: auto;
		}
		#current {
			margin-top: 0px;
			width: 100%;
		}
		div#status {
		}
		div#status input {
			border: solid #f09 2px;
			font-size: 14px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			padding: 10px;
			width: 420px;
			background: yellow;
			margin-bottom: 4px;
		}
		div#tracklistfill {
			margin-top: 0px;
			padding-top: 0px;
			height: 100%;
			background: rgba(255, 255, 255, 0.3);
			width: 100%;
		}
		#searchframe {
			z-index: 3;
			background: rgba(255, 255, 255, 0.3);
			position:fixed;
			right: 20px;top: 54px;
		}
		#searchframe {

		}
		#tracklist {
			padding: 0px;
		}
